@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-primary text-white px-6 py-3 rounded-xl;
    /* @apply bg-white; */
  }
  .popup {
    @apply bg-white p-5 shadow-2xl w-1/2 rounded-lg;
  }
  .dropdown {
    @apply absolute bg-white border-[1px] border-[#000] min-w-[112px] py-[16px] z-10 text-[16px] top-[2vw];
  }
  .dropdown li {
    @apply px-[16px] py-[8px] hover:underline cursor-pointer;
  }
  .input {
    @apply w-[80%] p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary;
  }
  .card {
    @apply w-[20%] center flex flex-col gap-5 hover:scale-105 transition-all duration-500;
  }
  .card-image {
    @apply w-full object-cover shadow-[4px_4px_5px_rgba(0,0,0,0.1)] rounded-[10%] bg-transparent;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
  .popup-container {
    @apply fixed inset-0 flex items-center justify-center;
  }
  .popup-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 w-full h-full;
  }
  .table-header {
    @apply py-4 px-6 border-b-2 border-gray-200 bg-gray-200 text-center font-semibold text-gray-700 uppercase tracking-wider;
  }
  .table-data {
    @apply py-4 px-6 border-b border-gray-200 text-center;
  }
  .pagination-link {
    @apply px-4 py-2 border border-gray-300 rounded-full hover:bg-gray-300 transition duration-200;
  }
}

.slick-slider {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: calc(25% - 20px) !important;
  z-index: 1;
  margin: 10px;
  margin-top: 0%;
  transform: translateY(-50%);
}
.slick-next {
  position: absolute;
  top: 50%;
  right: calc(25% - (-1px)) !important;
  z-index: 1;
  margin-top: 0%;
  transform: translateY(-50%);
}

.slick-prev::before,
.slick-next::before {
  font-size: 34px !important;
  color: rgb(124, 124, 124, 0.4) !important;
  opacity: 0.4 !important;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: rgb(124, 124, 124, 0.7) !important;
  opacity: 0.7 !important;
}
